/*load in webfonts*/

@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
/*global reset*/

* {
    padding: 0;
    margin: 0;
}


/*fix up for older browsers to correctly show new html5 semantic tags*/

header,
nav,
main,
section,
article,
aside,
footer,
figure,
figcaption {
    display: block;
}


/*basic font size so can use rems*/

html {
    font-size: 10px;
    font-family: 'Anton', sans-serif;
    font-family: 'Righteous', cursive;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
    scroll-behavior: smooth;
    cursor: url(Icons/smallbike.png),auto;
}

body,
html,
main {
    height: 100%;
}
header{
    height: 90vh;
    margin-left: 20px;
    margin-right: 20px;
}
footer{
    position: fixed;
    background-color: white;
    height: 10vh;
    text-align: center;
    left: 0;
    right: 0;
}
.greenbar{
    background-image: linear-gradient(to right,#000000,#85c68d);
    margin-top: 3vh;
    margin-left: auto;
    margin-right: auto;
    width: 80vw;
    border-radius: 10px;
  
}


/*code start for scroll draw*/
#line-svg {
  position: fixed;
  bottom:0;
  left: 10%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  transform: rotate(-90deg);
}
.draw-line-height {
  /* feel free to change height */
  height: 5000px;
    
}
/*code end for scroll draw*/


nav{
    height: 0px;
    margin-top: -9px;
    width: 82vw;
    margin-left: -1vw;
}
nav ul{
    height: 18px;
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    opacity: 0;
    height: 18px;
}
nav ul li a{
    display: block;
    width: 20vw;
    float: left;
    cursor: url(Icons/bike%20icon.png);
}
img{
    height: 30px;
}
.stlogo{
    text-align: center;
    padding-top: 20px;
    height: 30px;
    position: fixed;
    left: 0;
    right: 0;
}
/*doubledown animated button from https://www.youtube.com/watch?v=LY1jeQGUiAI CHANNEL NAME, YEAR PUBLISHED, TITLE, URL, ACCESSDATE*/
.doubledown{
    height: 50px;
    width: 30px;
    position: absolute;
    left: 50%;
    cursor: pointer;
}
.doubledown::before,
.doubledown::after{
    content: "";
    position: absolute;
    top: 20%;
    border: 2px solid black;
    height: 20px;
    width: 20px;
    transform: translate(-50%,-50%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: doubledown 2s ease-in-out infinite;
}
.doubledown::after{
    top: 30%;
    animation-delay: .5s;
}
@keyframes doubledown{
    0%{opacity: 0;}
    30%{opacity: 1;}
    60%{opacity: 1;}
    100%{opacity: 0; top: 100%;}
}
/*end of doubledown code */
.icon img{
    width: 130px;
    height: auto;
    margin-top: -170px;
    float: left;
    
}
.icon img{
     
}
.icon:hover img {
    transition: transform 2s, ease-in;
    transform: scale(1.2);
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 5rem;
    color: #000;
    padding-top: 15rem;
    text-align: center;
    letter-spacing: 3px;
    max-width: 1000px;
    margin: auto;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width:1px;
/*   insturctions from https://www.youtube.com/watch?v=bMsoCB6nwns */
}
h2{
    color: #a1d2a7;
    font-weight: 300;
    letter-spacing: 0rem;
}
h2 {
    font-family: 'Anton', sans-serif;
    font-size: 4rem; 
    padding: 0;
}
h3{
    font-family: 'Righteous', cursive;
    text-align: center;
    font-size: 2rem;
    font-weight: 100;
    letter-spacing: 1px;
    max-width: 500px;
    padding-top: 20px;
    margin: auto 
}
p {
    font-size: 1.7rem;
    line-height: 1.5;
    padding: 1rem 0;
    padding-bottom: 5rem;
}

div {
    padding: 10px;
}

.fixed-bkg {
    min-height: 70%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
}

.bkg01 {
    background-image: url(images/File_005.jpeg);
}

.bkg02 {
    background-image: url(images/photodefinition%20copy.jpeg);
}

.bkg03 {
    background-image: url(images/IMG_2829.JPG);
}

.bkg04 {
    background-image: url(images/File_004.jpeg);
}

.scroll-bkg {
}

.col01, .col02, .col03, .col04{
    background-color: rgb(255, 255, 255);
    color: #000000;
